body {
text-align: center;
    background-color: gray;
}

div {
align-content: center; 
border: 3px solid black;
width: 80%;
height: 100%;
margin-left: auto;
margin-right: auto;
padding: 10px;
background-color: white;
}

h1
{
font-size: 30px; 
}

table, th, td
{
width: 10%;
height: 10%;
padding: 5px;
border: 2px solid red;
border-collapse: collapse;
text-align: center;
margin-left: auto;
margin-right: auto;
padding-top:10px;
padding-bottom:10px;
}

.giorni
{
    color: red;
}

a:link, a:visited, a:hover, a:active
{
  color: black;
  background-color: transparent;
  text-decoration: none;
}

h2 
{
padding: 10px;
}

.sistemi
{
    background-color: #ffa0ff;
}

.informaticalab
{
    background-color: #A090FF;
}

.italiano
{
    background-color: #C000C0;
}

.telecomunicazioni
{
    background-color: #FF4040;
}

.matematica
{
    background-color: #0000ff;
}

.storia
{
    background-color: #FF80C0;
}

.inglese
{
    background-color: #8080FF;
}

.religione
{
    background-color: #0000ff;
}

.sistemilab
{
    background-color: #A090FF;
}

.informatica
{
    background-color: #C0C000;
}

.scienzemotorie
{
    background-color: #FF4040;
}

.tecnprogsistinftl
{
    background-color: #FFA0FF;
}

.telecomunicazionilab
{
    background-color: #FF0080;
}

.complementimatematica
{
    background-color: #EBE094;
}

.tecnprogsistinftllab
{
    background-color: #C0E080;
}

