.piatti 
{
    border-width: 30%; border-color:wheat; border-style:solid; background-color:wheat; font-family: 'Ubuntu', sans-serif; 
}

.lista1
{
    color:blue; font-family: 'Ubuntu', sans-serif;
}

.lista2
{
    color:red; font-family: 'Ubuntu', sans-serif; 
}
